body {
  margin: 0;
  background-color: #36393F !important;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.form-control {
  background-color: #40444B !important;
  border: none !important;
  color: white !important;
}
